.sidebar-link {
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background-color: orange !important;
    color: black !important;
    font-weight: bold;
}

@media (max-width: 500.98px) {
    .add-btn {
        font-size: small !important;
        padding: 0.25rem 0.5rem !important;
    }
}