.sidebar-link {
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background-color: orange !important;
    color: black !important;
    font-weight: bold;
}

.visit-rows .col-12 {
    width: 100%;
}

/* Scroll */
.custom-scroll {
    max-height: 220px;
    overflow-y: auto;

    scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}

.profile-box:hover {
    background-color: #f8f9fa;
}

.forgot-pass-card {
    width: 400px;
}

@media (max-width: 500.98px) {
    .add-btn {
        font-size: small !important;
        padding: 0.25rem 0.5rem !important;
    }

    .forgot-pass-card {
        width: 330px;
    }
}

@media(min-width:768px) {
    .visit-rows .col-12 {
        width: 33.333333%;
    }
}